<footer>
        <div class="container ">
            <div class="ftr">
                <h3>About</h3>
                <ul class="content">
                    <li><a href="#">Careers</a></li>
                    <li><a href="#">Team</a></li>
                    <li><a href="#">Work</a></li>
                </ul>
            </div>
            <div class="ftr">
                <h3>Contact</h3>
                <ul class="content">
                    <li><a href="#">201952215@iiitvadodara.ac.in</a></li>
                    <li><a href="#">+91 79856 53200</a></li>
                    <li><a href="#">Gandhinagar,Gujarat</a></li>
                </ul>
            </div>
            <div class="ftr">
                <h3>Social</h3>
                <ul class="content">
                    <li><a href="#">Facebook</a></li>
                    <li><a href="#">Twitter</a></li>
                    <li><a href="#">Instagram</a></li>
                </ul>
            </div>
            <div class="ftr">
                <h3>Join Our WastEarn</h3>
                <form id="footerForm" action="#">
                    <input type="email" placeholder="Enter Your Email." required id="footerMail">
                    <div class="btn">
                        <input type="submit" value="Subscribe" id="subscribe">
                    </div>
                </form>
            </div>

        </div>
    </footer>
