<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css" type="text/css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <title>WastEarn</title>

    <style>
    
        @media only screen and (max-width: 600px)
        {
            form{
                margin-left: 5%;
            }
            div{
                padding-left: 0 !important;
            }
            label{
                margin-left: 10%;
                width: 80% !important;
            }
            #id{
                width: 80% !important;
            }
            #check{
                width: 40%;
            }
        }

        #msg{
            text-align: center;
            margin-top: 5%;
        }
    </style>
</head>
<body>
    
    {{> header}}

    <div class="container mt-5" style="padding-left: 20%;">
        <form action="/checkStatus" method="POST" class="form-inline">
            <label for="id" class="mb-2 mr-sm-4">Waste ID: </label>
            <input type="text" class="form-control mb-2 mr-sm-4" style="width: 40%;" name="id" id="id" required>
            
            <input type="submit" class="btn btn-success mb-2" id="check" value="Check" />
        </form>

    </div>

    <h5 id="msg">{{msg}}</h5>
    <h5 class="text-danger" style="text-align: center;">{{error}}</h5>

    {{>footer}}

    <script>

        function myFunction()
        {
            document.getElementById("id").value = {{id}};
        }

        myFunction();
    </script>

</body>
</html>