<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="css/style.css" type="text/css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu&display=swap" rel="stylesheet"> 
    <link href="https://fonts.googleapis.com/css2?family=Rubik:wght@500&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Nunito&display=swap" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<style>
body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
}

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

.column {
  float: left;
  width: 33.3%;
  margin-bottom: 16px;
  padding: 0 8px;
}

.card {
  box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.3);
  margin: 8px;
  border-radius: 25px;
  background-color: white;

  color:green;
  transition: box- 3s;

}
.card:hover{
  box-shadow: 0px 8px 16px 0px  rgba(0,0,0,0.6);
}
.about-section {
  padding: 50px;
  text-align: center;
  background-color: green;
  color: white;
}

.container {
  padding: 0 16px;
}

.container::after, .row::after {
  content: "";
  clear: both;
  display: table;
}

.title {
  color: grey;
}

.button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: #000;
  border-radius: 20px;
  text-align: center;
  cursor: pointer;
  width: 100%;
}

.button:hover {
  background-color: #555;
}

@media screen and (max-width: 650px) {
  .column {
    width: 100%;
    display: block;
  }
}
</style>
</head>
<body>

  {{>userHeader}}

<div class="container">
  <div class="about-section">
  <h1>Profile</h1>
  <p>WE WANT TO MAKE OUR WASTE USEFULL</p>
  <p>BELIEVE IN YOUR INSTINCTS</p>
</div>
<hr>

<div class="row">

  
  <div class="column">
    <div class="card">
      <img src="C:\Users\Dr. Milind\Desktop\aboutus\parth.png" alt="John" style="width:100%;border-radius: 20px;">
      <div class="container">
        <h2>{{n}}</h2>
        <p class="title">{{add}}</p>
        <p>{{ci}}</p>
        <p>{{em}}</p>
      <a href="/sell">  <p><button class="button"> SELL</button></p></a>
      </div>
    </div>
  </div>

  <div class = "column">
    <div class="card">
     
      <div class="container">
        <h2>Coins Earned :</h2>
        <p>These are total coins earned from the day 1 .  </p>
        <hr>
        <h2 style="text-align: center;"> 6285 </h2>      
      </div>
    </div>
    <div class="card">
     
      <div class="container">
        <h2>Coins Remaining :</h2>
      
        <hr>
        <h2 style="text-align: center;"> 2740 </h2>      
      </div>
    </div>
<div class="card">
     
      <div class="container">
        <h2>Coins Spent :</h2>
       
        <hr>
        <h2 style="text-align: center;"> 3545 </h2>      
      </div>
    </div>
    <div class="card">
     
      <div class="container">
        <h2>HISTORY :</h2>
        
         
        <p><button class="button"> Check History</button></p>
        <hr>
        <h2 style="text-align: center;">Coins earned yesterday : 11 </h2>      
      </div>
    </div>

  </div>

<div class="column">
  <div class="card">
      <img src="C:\Users\Dr. Milind\Desktop\recyc\metal.jpg" alt="ohn" style="width:100% ; border-radius: 20px;">
      <div class="container">
       <h2>Status : </h2>
       <h3>Type of Waste :</h3>
       
        <hr>
        <h2>Currently Selling Waste</h2>
        
  
      </div>
    </div>
</div>

</div>

</div>

{{>footer}}
</body>
</html>