<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css" type="text/css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <title>WastEarn</title>

    <style>
    
        #id, #status{
            width: 400px !important;
        }

        @media only screen and (max-width: 600px)
        {
            #id, #status{
                width: 100% !important;
            }
            #update{
                width: 30%;
            }
            #main{
                padding-left: 10% !important;
            }
        }

        #msg{
            text-align: center;
            margin-top: 5%;
        }
        
    </style>
</head>
<body>
    
    {{> header}}

    <div class="container mt-5" id="main" style="padding-left: 20%;">
        <form action="/updateStatus" method="POST">
            <div class="form-group ">
                <label for="id" >Waste ID</label>
                <input type="text" class="form-control" id="id" placeholder="Enter waste id" name="id" required>
            </div>
            <div class="form-group">
                <label for="status" >Status</label>
                <input type="text" class="form-control" id="status" placeholder="Update the status" name="status" required>
            </div>

            <input type="submit" class="btn btn-success mb-2" value="Update" id="update"> 
        </form>

    </div>

    <h5 class="text-success" id="msg">{{msg}}</h5>
    <h5 class="text-danger" style="text-align: center;">{{error}}</h5>

    {{>footer}}


</body>
</html>